body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
}

h1, h2, h3 {
  color: #333;
}

header {
  background: #f4f4f4;
  padding: 10px 0;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #007BFF;
  color: white;
}

table td:first-child {
  font-weight: bold;
}

table tr:hover {
  background-color: #f1f1f1;
}

table td:hover {
  background-color: #f1f1f1;
}

table tr:hover td:hover {
  background-color: #e0e0e0;
}